body{
    background-color: black;
    margin-top: auto;
    
}
h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: chartreuse;
}
h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
}
h3{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
