body{
    background-color: black;
    margin-top: auto;
    
}
h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: chartreuse;
}
h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
}
h3{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}
p{
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}